{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {#<div class="container body-content span=8 offset=2">#}
        {#<div class="well">#}
            {#<form class="form-horizontal" action="#" method="post">#}
                {#<fieldset>#}
                    {#<legend>Login</legend>#}
                    {#<div class="form-group">#}
                        {#<label class="col-sm-4 control-label" for="user">User</label>#}
                        {#<div class="col-sm-4 ">#}

                            {{ include('@FOSUser/Security/login_content.html.twig') }}
                        {#</div>#}
                    {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock fos_user_content %}
